/*
1080px grid system ~ Core CSS.
12 Columns ~ Margin left: 24px ~ Margin right: 24px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.frame
{
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline;
  float: left;
  margin-left: 24px;
  margin-right: 24px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.frame .col-1 {width: 42px;}
.frame .col-2 {width: 132px;}
.frame .col-3 {width: 222px;}
.frame .col-4 {width: 312px;}
.frame .col-5 {width: 402px;}
.frame .col-6 {width: 492px;}
.frame .col-7 {width: 582px;}
.frame .col-8 {width: 672px;}
.frame .col-9 {width: 762px;}
.frame .col-10 {width: 852px;}
.frame .col-11 {width: 942px;}
.frame .col-12 {width: 1032px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.frame .prefix_1 {padding-left: 90px;}
.frame .prefix_2 {padding-left: 180px;}
.frame .prefix_3 {padding-left: 270px;}
.frame .prefix_4 {padding-left: 360px;}
.frame .prefix_5 {padding-left: 450px;}
.frame .prefix_6 {padding-left: 540px;}
.frame .prefix_7 {padding-left: 630px;}
.frame .prefix_8 {padding-left: 720px;}
.frame .prefix_9 {padding-left: 810px;}
.frame .prefix_10 {padding-left: 900px;}
.frame .prefix_11 {padding-left: 990px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.frame .suffix_1 {padding-right: 90px;}
.frame .suffix_2 {padding-right: 180px;}
.frame .suffix_3 {padding-right: 270px;}
.frame .suffix_4 {padding-right: 360px;}
.frame .suffix_5 {padding-right: 450px;}
.frame .suffix_6 {padding-right: 540px;}
.frame .suffix_7 {padding-right: 630px;}
.frame .suffix_8 {padding-right: 720px;}
.frame .suffix_9 {padding-right: 810px;}
.frame .suffix_10 {padding-right: 900px;}
.frame .suffix_11 {padding-right: 990px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.frame .push_1 {left: 90px;}
.frame .push_2 {left: 180px;}
.frame .push_3 {left: 270px;}
.frame .push_4 {left: 360px;}
.frame .push_5 {left: 450px;}
.frame .push_6 {left: 540px;}
.frame .push_7 {left: 630px;}
.frame .push_8 {left: 720px;}
.frame .push_9 {left: 810px;}
.frame .push_10 {left: 900px;}
.frame .push_11 {left: 990px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.frame .pull_1 {left: -90px;}
.frame .pull_2 {left: -180px;}
.frame .pull_3 {left: -270px;}
.frame .pull_4 {left: -360px;}
.frame .pull_5 {left: -450px;}
.frame .pull_6 {left: -540px;}
.frame .pull_7 {left: -630px;}
.frame .pull_8 {left: -720px;}
.frame .pull_9 {left: -810px;}
.frame .pull_10 {left: -900px;}
.frame .pull_11 {left: -990px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.frame:before,
.frame:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.frame:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.frame {
  zoom: 1;
}